{% extends 'DTool/base.html' %}

{% block main %}

      <div class="jumbotron" style="margin-top: 40px;">
        <h1>Driver's tool</h1>
        <p class="lead">Сбор. Хранение. Систематизация. Анализ. Все в одном месте.</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Присоединиться</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Сервис</h4>
          <p>Вносите информацию о всех своих сервисных обслуживаниях. Забудьте про хранение толстой папки со всеми Т.О.</p>

          <h4>Расходы</h4>
          <p>Записывайте свои расходы на автомобиль. Ничего не потеряется. Они предстанут перед вами в удобном виде, а Вы сможете проанализировать их за считанные минуты.</p>

        </div>

        <div class="col-lg-6">
          <h4>Напоминания</h4>
          <p>Стройте планы на свой автомобиль. Driver's Tool не даст Вам ничего забыть.</p>

          <h4>Объявления</h4>
          <p>Одним кликом мышки размещайте объявление о продаже своего автомобиля или покупайте. При переходе от водителя к водителю все данные об автомобиле сохраняются.</p>

        </div>
      </div>
        <hr>
      <div class="footer">
        <p>&copy; Никита Исаков</p>
      </div>

    </div> <!-- /container -->

{% endblock %}
