{% extends 'DTool/base.html' %}

{% block service %}

<div class="row ">

    <div class="col-sm-12 padding">
        <h1>Напоминания</h1>

    {% if notifications.count == 0 %}
        <div class="jumbotron">
            <h2>У Вас пока нет напоминаний</h2>
            <hr>
            <h4>Для добавления напоминания нажмите кнопку "добавить", расположенную ниже</h4>
        </div>
        {% else %}

        {% for notification in notifications reversed %}
            <div class="col-md-6">
                <div class="jumbotron">
                    <h3>{{ notification.header }}</h3>
                    <hr>
                    <h4>{{ notification.business }}</h4>
                    <br>
                    <h4>Дата: {{ notification.time }}</h4>
                    <br>
                    {% if notification.done == False %}
                    <a href="/do_notification/{{ car_identifier }}/{{ notification.id }}"><button type="button" class="btn btn-default">Завершить</button></a>
                    {% else %}
                    <h4>Завершено</h4>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</div>

      <a href="/add_notification/{{ car_identifier }}"><button type="button" class="btn btn-default">Добавить</button></a>

{% endblock %}