{% extends 'DTool/base.html' %}

{% block service %}

<div class="row" id="top_row">
    <div class="col-md-12">
        <h2>Обслуживания</h2>
        {% if services.count == 0 %}
            <div class="jumbotron">
                <h2>У Вас пока нет обслуживаний</h2>
                <hr>
                <h4>Для добавления обслуживания нажмите кнопку "добавить", расположенную ниже</h4>
            </div>
        {% else %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Исполнитель</th>
                        <th>Название</th>
                        <th>Детали</th>
                        <th>Дата</th>
                        <th>Стоимость</th>
                        <th>Резерв (км)</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services reversed %}

                    <tr>
                        <td>{{ service.who }}</td>
                        <td>{{ service.what }}</td>
                        <td>{{ service.details }}</td>
                        <td>{{ service.when }}</td>
                        <td>{{ service.price }} руб.</td>
                        <td>{{ service.reserve }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>


      <a href="/add_service/{{ car_identifier }}"><button type="button" class="btn btn-default">Добавить</button></a>

{% endblock %}